<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title><%=title%></title>
</head>
<body>
    <main>
        <h1><%= title%></h1>
        <p>Bem vindo(a) ao <strong><%=title%></strong></p>
        <ul>
            <h3><%=name%></h3>
                <p><%=profession%>.</p>
                <p><%=description%>.</p>
        </ul>
        <hr>
        <ul>
            <h3>Experiência</h3>
            <% experience.map(experience => { %>
                <li>
                    <div>
                        <strong><%= experience.company %>:</strong>
                        <strong><%=experience.office%>:</strong>
                        <br>
                        <span><%=experience.description%></span>
                    </div>
                </li>    
            <% });%>
        </ul>
        <hr>
        <ul>
            <h3>Formação</h3>
            <%education.map(education => {%>
                <li>
                    <div>
                        <strong><%= education.institution%></strong>
                        <br>
                        <strong><%= education.description%></strong>
                    </div>
                </li>
            <%});%>
        </ul>
        <hr>
        <ul>
            <h3>Skills</h3>
            <% skills.map(skill => {%>
                <li><%= skill %></li>
            <%});%>
        </ul>
    </main>
</body>
</html>